<!doctype html>
<head>

<meta charset ="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> Dota database </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="pages/style.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="angularjstutorial-deps.js"></script>
<script src="script/heroes.js"></script>
  <!-- end -->

  
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">Dota database</a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Page 1</a></li>
    <li><a href="#">Page 2</a></li> 
    <li><a href="#">Page 3</a></li> g
  </ul>
</nav>
<!-- navbar slut -->

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="container-1">
        <span class="icon glyphicon glyphicon-search"></span>
        <input type="search" id="search" placeholder="Search..." />
    </div>
      </div>
  </div>
  <div class="row space">
    <div class="col-md-12" style="background-color: lavender;"> <img class="center-block" src="pages/lina.jpg"></div>
  </div>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2" style="background-color: lightblue">
<div class=tab-container>
<ul class="tabs clearfix">
  <li><a href="javascript:void(0)" onclick="openTab('spells')">Spells</a></li>
  <li><a href="javascript:void(0)" onclick="openTab('items')">Items</a></li>
  <li><a href="javascript:void(0)" onclick="openTab('lore')">Lore</a></li>
</ul>
</div>

<div id="spells" class="container cate">
    <div class="media">
      <div class="media-left">
        <img src="images/abilities/lina_dragon_slave_hp2.png" class="media-object" id="London" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Spell 1</h4>
        <p>BoomBoom</p>
      </div>
    </div>
    
    <div class="media">
      <div class="media-left">
        <img src="images/abilities/lina_fiery_soul_hp2.png" class="media-object" id="Paris" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Spell 2</h4>
        <p>Dolorem ipsum...</p>
      </div>
    </div>
    
    <div class="media">
      <div class="media-left">
        <img src="images/abilities/lina_laguna_blade_hp2.png" class="media-object" id="Tokyo" style="width:60px">
      </div>
        <div class="media-body">
        <h4 class="media-heading">Spell 3</h4>
        <p>Dolorem ipsum...</p>
      </div>
    </div>
    
  <div class="media">
    <div class="media-left">
      <img src="images/abilities/lina_light_strike_array_hp2.png" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Spell 4</h4>
      <p>Dolorem ipsum...</p>
    </div>
    </div>
</div>

<div id="items" class="w3-container cate">
  <h2>Items</h2>
  <p>Lägg in Items</p>
</div>

<div id="lore" class="w3-container cate">
  <h2>Lore</h2>
  <p>Litte info</p>
</div>
</div>
</div>
</div>

<script>
  var tabs = $('.tabs > li');

tabs.on("click", function(){
  tabs.removeClass('active');
  $(this).addClass('active');
});
</script>

<script>
  openTab("spells")
  function openTab(tabCat) {
      var i;
      var x = document.getElementsByClassName("cate");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      document.getElementById(tabCat).style.display = "block";
  }
</script>
</nav> 

<div class="mainContainer" data-ng-app="dotabaseApp">
    <h1>Dotabase</h1>

    <input type="text" data-ng-model="search.$">

    <div data-ng-controller="heroesCtrl">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Abilities</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="hero in heroes | filter:search | orderBy:'name' | limitTo: 6">
            <td><img src="images/heroes/{{hero.url}}_vert.jpg">{{player.localizedName}}</td>
            <td>{{hero.abilities}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>